<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px; border-radius: 15px;">
    
    <div class="text-center mb-4">
      <h2 class="fw-bold text-primary">CivicAlert</h2>
      <p class="text-muted">Introdu datele pentru conectare</p>
    </div>

    <form (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label for="loginEmail" class="form-label small fw-bold">Email</label>
        <input 
          type="email" 
          id="loginEmail"
          name="email" 
          [(ngModel)]="loginData.email" 
          class="form-control shadow-sm" 
          placeholder="nume@exemplu.com"
          required>
      </div>

      <div class="mb-4">
        <label for="loginPassword" class="form-label small fw-bold">Parolă</label>
        <input 
          type="password" 
          id="loginPassword"
          name="password" 
          [(ngModel)]="loginData.password" 
          class="form-control shadow-sm" 
          placeholder="••••••••"
          required>
      </div>

      <button type="submit" class="btn btn-primary w-100 py-2 fw-bold shadow-sm">
        Conectare
      </button>
    </form>

    <div class="text-center mt-3">
      <small>Nu ai cont? <a routerLink="/register" class="text-decoration-none">Înregistrează-te aici</a></small>
    </div>

  </div>
</div>